.container{
    margin-top: 50px;
}



.card-img-top{
    padding: 15px;
}

.btn-1{
    background-color: #61ad83;
    border: 2px solid black;
    border-radius: 10px;
}

.btn-1:hover{
    background-color: rgb(40, 131, 81);
    color: white;
    border: 2px solid black;
}

.btn-2{
    background-color: #61ad83;
    border: 2px solid black;
    border-radius: 10px;
}

.btn-2:hover{
    background-color: rgb(40, 131, 81);
    color: white;
    
}

.btn-3{
    background-color: #61ad83;
    border: 2px solid black;
    border-radius: 10px;
}

.btn-3:hover{
    background-color: rgb(40, 131, 81);
    color: white;
    
}

